body {background-color:darksalmon;}
img{width:100%;
    height: auto;
    display: block;}

figure{width:70%;
       position:relative;
       margin:auto;
       border: 18px dotted black;
}
figurecaption {width:100%;
               height:auto;
  border: 3px solid black_;
  position: absolute; 
  bottom: 0; 
  top:0;
  right:0;
  left:0;
  background-color:rgba(233,150,122,0.9);
  transition: .7s;
  opacity:0;
  color: black;
  padding-top: 200px;
  text-align: center;
}

figure:hover figurecaption {
  opacity: 1;
}